
*.pper
.Rproj.user/shared/notebooks/816E91D3-report_doc/1/s/chunks.json
.Rproj.user/shared/notebooks/816E91D3-report_doc/1/AD8D81C5FBD84B55/chunks.json
.Rproj.user/shared/notebooks/39C745B4-report/1/s/chunks.json
.Rproj.user/shared/notebooks/39C745B4-report/1/AD8D81C5FBD84B55/chunks.json
.Rproj.user/AD8D81C5/sources/s-FBD84B55/lock_file
.Rproj.user/AD8D81C5/sources/s-FBD84B55/DF3595C3-contents
.Rproj.user/AD8D81C5/sources/s-FBD84B55/DF3595C3
.Rproj.user/AD8D81C5/sources/s-FBD84B55/B710F46C-contents
.Rproj.user/AD8D81C5/sources/s-FBD84B55/B710F46C
.Rproj.user/AD8D81C5/sources/s-FBD84B55/6960C9EE-contents
.Rproj.user/AD8D81C5/sources/s-FBD84B55/6960C9EE
.Rproj.user/AD8D81C5/sources/s-FBD84B55/44A94F65-contents
.Rproj.user/AD8D81C5/sources/s-FBD84B55/44A94F65
.Rproj.user/AD8D81C5/sources/s-FBD84B55/1F86AEEF-contents
.Rproj.user/AD8D81C5/sources/s-FBD84B55/0FE88128-contents
.Rproj.user/AD8D81C5/sources/s-FBD84B55/0FE88128
.Rproj.user/AD8D81C5/sources/prop/INDEX
.Rproj.user/AD8D81C5/sources/prop/DA386ED0
.Rproj.user/AD8D81C5/sources/prop/954F857F
.Rproj.user/AD8D81C5/sources/prop/8449605D
.Rproj.user/AD8D81C5/sources/prop/4D8C8040
.Rproj.user/AD8D81C5/sources/prop/2C41233F
.Rproj.user/AD8D81C5/sources/per/t/E2A737E1-contents
.Rproj.user/AD8D81C5/sources/per/t/E2A737E1
.Rproj.user/AD8D81C5/saved_source_markers
.Rproj.user/AD8D81C5/rmd-outputs
.Rhistory
.Rproj.user/shared/notebooks/patch-chunk-names
.Rproj.user/shared/notebooks/paths
